name: Hopping Turtle CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
          matrix:
            node-version: ['18.x', '20.x']

        steps:
        - uses: actions/checkout@v5
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v4
          with:
            sparse-checkout:
              hopping-turtle
            node-version: ${{ matrix.node-version }}

        - name: Install Dependencies
          run: npm ci

        - name: Run Linter and Basic Tests (if present)
          run: |
            npm run lint || true
            npm test || true

        - name: Build Expo App
          run:
            npm start
        #- name: Build Expo App (Preview)
          #run: npx expo export 
